.header-link-wrapper ul {
    display: inline-block;
}

.header-link-wrapper ul li {
    display: inline;
    padding: 10px;
}

nav.header-link-wrapper {
    text-align: right;
    width: auto;
}

.hidden {
    display: none !important;
}

nav.header-link-wrapper {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    margin-bottom: 20px;
    box-shadow: 0 5px 10px 0 rgba(26, 44, 57, 0.14);
    top: 0;
    right: 0;
    width: 100%;
    min-height: 66px;
}

nav ul {
    margin-bottom: 0;
}

.header-link-wrapper a.ant-dropdown-trigger {
    padding-bottom: 20px;
}

aside.ant-layout-sider.ant-layout-sider-dark {
    float: left;
    margin-top: 100px;
    min-height: 90vh;
    max-height: 100%;
}

.trigger {
    width: 32px;
    height: 32px;
    z-index: 999;
}

button.ant-btn.css-dev-only-do-not-override-6j9yrn.ant-btn-text.ant-btn-icon-only.trigger:focus-visible {
    outline: 0;
}

button.trigger {
    position: absolute;
    left: 25px;
    top: 25px;
}

ul.ant-menu.ant-menu-root.ant-menu-vertical.ant-menu-light.ant-menu-inline-collapsed {
    width: 0;
}

span.ant-layout-sider-zero-width-trigger.ant-layout-sider-zero-width-trigger-left {
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 1;
}

.header-logo {
    background-image: url('../../assets/bloom.png');
    background-size: contain;
}

.header-logo {
    width: 60px;
    height: 60px;
    float: left;
}

.header-link-wrapper ul {
    position: absolute;
    right: 0;
}

nav.header-link-wrapper {
    max-height: 66px;
}

.header-link-wrapper > a {
    display: inline;
    float: left;
}

.search-wrapper {
    margin-left: 50px;
    padding: 7px;
}

.search-wrapper span.ant-input-affix-wrapper {
    height: 32px;
}

i.fa.fa-bell.notification-icon {
    font-size: x-large;
}

input.search-input {
    box-sizing: border-box;
    display: inline-block;
    height: 50px;
    margin-bottom: 4px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 18px;
    padding-left: 55.2px;
    padding-right: 18px;
    padding-top: 18px;
    width: 100%;
    font-family: cera-round-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-feature-settings: "ss01";
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-variation-settings: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 24px;
    text-align: start;
    text-indent: 0px;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: none;
    word-spacing: 0px;
    color: rgb(0, 0, 0);
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    border-bottom-color: rgba(24, 49, 83, 0.25);
    border-bottom-style: solid;
    border-bottom-width:2px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width:1;
    border-left-color: rgba(24, 49, 83, 0.25);
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: rgba(24, 49, 83, 0.25);
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: rgba(24, 49, 83, 0.25);
    border-top-style: solid;
    border-top-width: 2px;
    box-shadow: rgb(240, 241, 243) 0px 4px 0px 0px inset;
    text-rendering: auto;
    appearance: auto;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    padding-block-end: 18px;
    padding-block-start: 18px;
    padding-inline-end: 18px;
    padding-inline-start: 55.2px;
    -webkit-rtl-ordering: logical;
}

.search-wrapper svg {
    box-sizing: content-box;
    display: block;
    height: 20px;
    left: 135px;
    margin-right: 2.5px;
    overflow-x: visible;
    overflow-y: visible;
    position: absolute;
    top: 22px;
    width: 20px;
    font-family: cera-round-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-feature-settings: "ss01";
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: start;
    text-size-adjust: 100%;
    color: rgb(24, 49, 83);
    text-rendering: optimizespeed;
    overflow-clip-margin: content-box;
    pointer-events: none;
}

.search-wrapper {
    width: 350px;
    opacity: 0.25;
}

.header-link-wrapper .notification-wrapper {
    display: none;
    position: absolute;
    top: 0;
    padding: 4px;
    min-height: 50px;
    list-style-type: none;
    background-color: #ffffff;
    background-clip: padding-box;
    border-radius: 8px;
    outline: none;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 
                0 3px 6px -4px rgba(0, 0, 0, 0.12), 
                0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.notification-icon-wrapper:hover ~ ul.notification-wrapper,
ul.notification-wrapper:hover {
    display: block;
}

.header-link-wrapper ul.notification-wrapper {
    width: 200px;
    top: 50px;
    right: 105px;
    z-index: 1050px;
}

.notification-icon-wrapper {
    display: inline;
}

.header-link-wrapper ul li:first-child {
    padding-right: 20px;
}

.search-wrapper span {
    cursor: pointer;
    color: blue;
    font-weight: bold;
    font-size: large;
    position: absolute;
    left: 420px;
    top: 15px;
    font-size: x-large;
}

