.header-link-wrapper ul {
    display: inline-block;
}

.header-link-wrapper ul li {
    display: inline;
    padding: 10px;
}

nav.header-link-wrapper {
    text-align: right;
    width: auto;
}

.hidden {
    display: none !important;
}

nav.header-link-wrapper {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    margin-bottom: 20px;
    box-shadow: 0 5px 10px 0 rgba(26, 44, 57, 0.14);
    top: 0;
    right: 0;
    width: 100%;
    min-height: 66px;
}

nav ul {
    margin-bottom: 0;
}

.header-link-wrapper a.ant-dropdown-trigger {
    padding-bottom: 20px;
}