.login-form {
    float: left;
    padding: 30px;
}

button.ant-btn.ant-btn-primary.login-form-button {
    margin: 20px;
    margin-top: 0;
}

a.login-form-forgot {
    display: block;
}

f {}

.ant-form-item-control-input-content a {
    display: block;
}