.login-form {
    padding: 30px;
}

button.ant-btn.ant-btn-primary.login-form-button {
    margin: 20px;
    margin-top: 0;
}

a.login-form-forgot {
    display: block;
}

.ant-form-item-control-input-content a {
    display: block;
}

.login-form {
    position: relative;
    height: auto;
    padding: 48px;
    overflow: hidden;
    text-align: center;
    margin: auto;
    height: 95vh;
}

form.login-form {
    text-align: center;
    padding: 30px;
    max-width: 300px;
    margin: auto;
}

.ant-drawer-content {
    background-color: #f0f6ff !important;
}

.login-form {
    margin-top: 66px;
  }