.profile-photos .card-body {
    min-height: 200px;
}

.add-photos-wrapper {
    float: right;
    padding: 10px;
}

button.ant-btn.css-dev-only-do-not-override-6j9yrn.ant-btn-default {
    height: 40px;
}

.profile-photos p {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: x-large;
}

.profile-photos .ant-upload-list.ant-upload-list-text {
    display: none;
}

.react-photo-album.react-photo-album--rows {
    margin-top: 30px;
}


