body {
    background-color: #f0f6ff;
    color: #28384d;

}
/*social */
.card-one {
    position: relative;
    width: 300px;
    background: #fff;
    box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.4);
}
.card {
    margin-bottom: 35px;
    box-shadow: 0 10px 20px 0 rgba(26, 44, 57, 0.14);
    border: none;
}

.follower-wrapper li {
    list-style-type: none;
    color: #fff;
    display: inline-block;
    float: left;
    margin-right: 20px;
}

.social-profile {
    color: #fff;
}

.social-profile a {
    color: #fff;
}

.social-profile {
    position: relative;
    margin-bottom: 150px;
}

.social-profile .user-profile {
    position: absolute;
    bottom: -75px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    left: 50px;
}

.social-nav {
    position: absolute;
    bottom: 0;
}

.social-prof {
    color: #333;
    text-align: center;
}

.social-prof .wrapper {
    width: auto;
    margin: auto;
    margin-top: -100px;
}

.social-prof img {
    width: 168px;
    height: 168px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 5px solid #fff;
    float: left;
}

.social-prof h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 0;
}

.social-prof p {
    font-size: 18px;
}

.social-prof .nav-tabs {
    border: none;
}

.card .nav>li {
    position: relative;
    display: block;
}

.card .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    font-weight: 300;
    border-radius: 4px;
}

.card .nav>li>a:focus,
.card .nav>li>a:hover {
    text-decoration: none;
    background-color: #eee;
}

.card .s-nav>li>a.active {
    text-decoration: none;
    background-color: #3afe;
    color: #fff;
}

.text-blue {
    color: #3afe;
}

ul.friend-list {
    margin: 0;
    padding: 0;
}

ul.friend-list li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

ul.friend-list li:hover {
    background: rgba(0, 0, 0, .1);
    cursor: pointer;
}

ul.friend-list .left img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 20px;
}

ul.friend-list li {
    padding: 10px;
}

ul.friend-list .right h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
}

ul.friend-list .right p {
    font-size: 11px;
    color: #6c757d;
    margin: 0;
}

.social-timeline-card .dropdown-toggle::after {
    display: none;
}

.info-card h4 {
    font-size: 15px;
}

.info-card h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.social-about .social-info {
    font-size: 16px;
    margin-bottom: 20px;
}

.social-about p {
    margin-bottom: 20px;
}

.info-card i {
    color: #3afe;
}

.card-one {
    position: relative;
    width: 300px;
    background: #fff;
    box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.4);
}

.card-one .header {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #3afe;
}

.card-one .header::before,
.card-one .header::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: inherit;
}

.card-one .header::before {
    -webkit-transform: skewY(-8deg);
    transform: skewY(-8deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.card-one .header::after {
    -webkit-transform: skewY(8deg);
    transform: skewY(8deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.card-one .header .avatar {
    position: absolute;
    left: 50%;
    top: 30px;
    margin-left: -50px;
    z-index: 5;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background: #ccc;
    border: 3px solid #fff;
}

.card-one .header .avatar img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
    height: auto;
}

.card-one h3 {
    position: relative;
    margin: 80px 0 30px;
    text-align: center;
}

.card-one h3::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 1px;
    background: #000;
}

.card-one .desc {
    padding: 0 1rem 2rem;
    text-align: center;
    line-height: 1.5;
    color: #777;
}

.card-one .contacts {
    width: 200px;
    max-width: 100%;
    margin: 0 auto 3rem;
}

.card-one .contacts a {
    display: block;
    width: 33.333333%;
    float: left;
    text-align: center;
    color: #c8c;
}

.card-one .contacts a:hover {
    color: #333;
}

.card-one .contacts a:hover .fa::before {
    color: #fff;
}

.card-one .contacts a:hover .fa::after {
    width: 100%;
    height: 100%;
}

.card-one .contacts a .fa {
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 39px;
    overflow: hidden;
    text-align: center;
    font-size: 1.3em;
}

.card-one .contacts a .fa:before {
    position: relative;
    z-index: 1;
}

.card-one .contacts a .fa::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #c8c;
    transition: width .3s, height .3s;
}

.card-one .contacts a:last-of-type .fa {
    line-height: 36px;
}

.card-one .footer {
    position: relative;
    padding: 1rem;
    background-color: #3afe;
    text-align: center;
}

.card-one .footer a {
    padding: 0 1rem;
    color: #e2e2e2;
    transition: color .4s;
}

.card-one .footer a:hover {
    color: #c8c;
}

.card-one .footer::before {
    content: '';
    position: absolute;
    top: -27px;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom-color: #3afe;
}

.card-title, .card .card-title, .card-2 .card-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}
a {
    color: #333;
}
.badge {
    font-size: 12px;
    line-height: 1;
    padding: .375rem .5625rem;
    font-weight: normal;
}

.badge-primary {
    color: #447de8;
    background-color: #e6edff;
}
.badge {
    display: inline-block;
    padding: .4em .5em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.container > .wrapper > .heading > div.img {
    background-image: url('../../assets/banner.jpg');
    max-height: 350px;
    background-position: center;
    background-size: stretch;
}

.container {
    max-width: unset !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

span.ant-upload-wrapper {
    width: auto !important;
}

span.attachment img.attachment {
    width: 100%;
}

.container > .wrapper > .heading > div.img {
    max-width: 1250px;
    display: block;
    margin: auto;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 66px;
}

.container .row {
    max-width: 1218px;
    margin: auto;
}

.card.social-prof {
    max-width: 1218px;
    margin: auto;
    margin-bottom: 20px;
}

.container > wrapper > div.img {
    box-shadow: 0 10px 20px 0 rgba(26, 44, 57, 0.14);
}

.col-lg-3.left-sidebar {
    padding-left: 0;
}

.col-lg-3.right-sidebar {
    padding-right: 0;
}

.container > .wrapper > .heading {
    background: linear-gradient(to top, #FFFFFF, rgba(255,255,255.9), rgba(255,255,255,.7), rgba(255,255,255,.4), rgba(255,255,255,0));
}

.container > .wrapper {
    background-color: rgb(215 215 215);
    width: 100%;
}

.card.social-prof {
    padding-bottom: 0;
}

.card.social-prof {
    box-shadow: none;
    background: transparent;
}

.container > .wrapper {
    box-shadow: 0 10px 20px 0 rgba(26, 44, 57, 0.14);
    margin-bottom: 35px;
}

.card.social-prof {
    box-shadow: none;
    background: transparent;
}

.container > .wrapper {
    box-shadow: 0 10px 20px 0 rgba(26, 44, 57, 0.14);
    margin-bottom: 35px;
}

.card-body > .row {
    clear: both;
    float: left;
}

.card-body {
    padding:  0 !important;
}

.social-prof .details {
    float: left;
    margin-top: 100px;
    margin-left: 20px;
}

.card-body > .wrapper {
    float: left;
    width: auto;
}

span.ant-upload-wrapper {
    float: left;
}

.ant-upload-list-item.ant-upload-list-item-done {
    border: 0 !important;
}

img.ant-upload-list-item-image {
    width: 168px;
    height: 168px;
}

span.ant-upload-wrapper.css-dev-only-do-not-override-6j9yrn.ant-upload-picture-card-wrapper {
    width: 168px;
    height: 168px;
    margin-left: 0;
}

.ant-upload-list.ant-upload-list-picture-card {
    width: 168px;
    height: 168px;
}

.ant-upload-list-item-container {
    width: 168px;
    height: 168px;
}

.ant-upload-list-item.ant-upload-list-item-done {
    width: 168px;
    height: 168px !important;
}

.card.social-prof {
    border: 0;
}

.comments-input .ant-upload-wrapper {
    padding-left: 20px;
}

$image2: './src/assets/coca-cola-4.svg';

@keyframes animate {
0% {
   transform: rotateY(0deg);
}
10% {
    transform: rotateY(180deg);
}
20% {
    transform: rotateY(0deg);
}
100% {
    transform: rotateY(0deg);
}
}


.rotate-profile {
    perspective: 1000px;
    width: 168px;
    height: 168px;
    float: left;
  }
  .prof-card {
    animation: animate 20s linear infinite;
    width: 168px;
    height: 168px;
  }
  .card-container, .heading img.ant-upload-list-item-image, .profile-back {
    width: 168px;
    height: 168px;
  }
  .profile-back {
    background-image: url(#{$image2});
  }
  .prof-card {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }
  .heading img.ant-upload-list-item-image, .profile-back {
    backface-visibility: hidden;
    position: absolute !important;
    top: 0;
    left: 0;
  }
  .heading img.ant-upload-list-item-image {
    z-index: -1;
    transform: rotateY(0deg);
  }
  
  .profile-back {
    z-index: 999;
    transform: rotateY(180deg);
  }

  .heading .ant-upload.ant-upload-select {
    width: 168px !important;
    height: 168px !important;
    border-radius: 50% !important;
  }

  :where(.css-dev-only-do-not-override-6j9yrn).ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload-list.ant-upload-list-picture-card .ant-upload-list-item::before, :where(.css-dev-only-do-not-override-6j9yrn).ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload-list.ant-upload-list-picture-card .ant-upload-list-item::before, :where(.css-dev-only-do-not-override-6j9yrn).ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload-list.ant-upload-list-picture-circle .ant-upload-list-item::before, :where(.css-dev-only-do-not-override-6j9yrn).ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload-list.ant-upload-list-picture-circle .ant-upload-list-item::before {
    border-radius: 50%;
  }
  
  span.anticon.anticon-delete {
    height: 50px;
    width: 50px !important;
    padding: 5px;
  }

  span.anticon.anticon-eye {
    height: 50px;
    width: 50px !important;
    padding: 5px;
}

.anticon svg {
    width: 30px;
    height: 30px;
}

span.ant-upload-list-item-actions {
    text-align: center;
    width: 90% !important;
    margin: auto;
}

.left-sidebar .card {
    padding: 1.25rem;
}

.myprofile img.profile-back {
    margin-left: 20px;
}

.col-lg-12 {
    padding: 0;
}

  /*end social*/