.copyright-wrapper {
    background-color: #1D1D1D;
    font-size: 4px;
    color: #ffffff;
    text-align: center;
}

.footer-wrapper {
    background-color: #272727;
    padding: 5px;
    position: relative;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    float: left;
}